  <h2>Import 5 recipes from Marmiton</h2>
  <img src="https://vignette.wikia.nocookie.net/poohadventures/images/6/60/Auguste_Gusteau.jpg/revision/latest?cb=20130418031633" height="350" width="600">
  <br> <br>
    <h4>Don't know any recipes?</h6>
    <p>No worries, input your favorite ingredient in the form below</p> <br>
    <p>Auguste Gusteau will make sure to add his 5 favorite recipes witht that ingredient</p>
    <br>
    <form action="/scrape" method="POST">
      Ingredient Name:<br>
      <input type="text" name="ingredient_name" value="ingredient name">
      <br><br>
      <input class="btn-danger" type="submit" value="Submit">
    </form>
