  <h2>Create a new recipe</h2>
    <img src="https://i.pinimg.com/474x/dc/c1/1a/dcc11aeca3ebc8b8d8b75982f4eec7ba--ratatouille-characters-ratatouille-disney.jpg" height="400" width="350">
  <br> <br>
    <form action="/recipes" method="POST">
      Recipe Name:<br>
      <input type="text" name="recipe_name" value="recipe name">
      <br><br>
      Recipe Description:<br>
      <input type="text" name="recipe_description" value="my recipe description">
      <br><br>
      Preparation Time:<br>
      <input type="text" name="preparation_time" value="preparation time">
      <br><br>
      <input class="btn-danger" type="submit" value="Submit">
    </form>

